table.centrada {
	text-align: center;
	margin: 0 auto; /*para centrar en navegadores distintos a Internet Explorer */
	vertical-align: center;
	border: 1px solid #000;
	width: 80%;
	height: 90%;
}
div.centrado {
	/* para centrar tablas en Internet Explorer envolverlas con un div de esta clase */
	text-align: center;
	vertical-align: center;
}
iframe.maximizado {
	width: 100%;
	height: 100%;
}
ul {
    /* list-style-type: none;  */
    margin: 0;
    padding: 0; 
    overflow: hidden; 
    background-color: #636867;
}
li {
    float: left;
}
li a {
    display: block; 
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


